*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

:root {
  --brand-color-light:;
  --brand-color-dark:;
  --bg-color:;
  --stroke-color:;
  --text-color-primary:;
  --text-color-secondary:;
  
  font-family: "Archivo", sans-serif;
  
}
